.form-section {
    background: white;
    color: black;
    border-radius: 15px;
    padding: 15px;
}

.form-title {
    font-size: 21px;
    font-weight: bold;
}

.form-description {
    font-size: 14px;
}

a.form-link {
    color: #249e64;
}

form .bolt-form-label {
    font-size: 12px;
}

form .bolt-form-label-bold {
    font-weight: bold;
}

.large-input-box {
    background: #F2F2F5;
    height: 50px !important;
}

.telephone-group {
    display: flex;
}

.telephone-group-code {
    flex: 1;
    margin-right: 5px;
}

.telephone-group-no {
    flex: 3;
}

.signup-btn {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
}

.form-control:focus {
    border-color: #249e64;
    box-shadow: inset 0 1px 1px #249e64, 0 0 8px #249e64;
}